/*@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.css');*/
/*@import url('./fontawesome5.css');*/

html, body{
  margin: 0px;
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
  font-size: 20px;
}

#body{
  font-size:150%;
}
.caption {
  display: none;
}
@media(min-width:60em){
  #body{
    font-size: 100%
  }
  .caption {
    display: initial;
  }
}

#body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: dodgerblue;
}

#header {
  flex-wrap: wrap-reverse;
}

.row-container {
  padding: .5em;
  background-color: #333;
}

.row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  /*height: 100%;*/
  min-height: 1.7em;
  flex-shrink: 0;
  color: lightgrey;
  align-items: stretch;
}

.row > * {
  display: inline-flex;
  flex-direction: row;
}

.not-spaced > * {
  margin: 0;
}
.spaced > * {
   margin-left: 1em;
   margin-right: 0;
}

.spaced > *:first-child {
  margin-left: 0;
}
/*.spaced > *:last-child {
  margin-right: 0;
}*/

/* ATTENTION: has to be defined after ".spaced > *" */
.push {
    margin-left: auto;
}


input {
  border: none;
  padding: .3em;
  font-size: inherit;
  
  /* keeps input from overflowing its container */
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;                           

  /* line-height (which determines height) renders slightly different across browsers.
  But specifiying a fixed line-height: 14px caused a 1px difference in IE.
  I found it easier just to lock in the height */
  /*height: 100%;*/
  width: 100%;
}

button {
  background-color: lightblue;
  border: none;
}

a:link {
  color: inherit;
}

a.no-link:link, a.no-link:visited {
  text-decoration: none;
  color: inherit;
}

.caption {
  color: black;
  margin-right: .5em;
}

.error::before {
  content: "error: ";
  color: red;
}

.name {
  width: 20em;
}

.loading {
  color: purple;
  font-size: bigger;
  font-weight: bold;
}

.msg-input {
    width: 100%;
}


/* central message history elements */

#messages {
  width: 100%;
  overflow-y: auto;
  /*display: flex;*/
  flex-direction: column-reverse;
  /*flex: 1;*/
  margin-top: auto;
}

.message {
   margin: .5em .5em;
}

.msg-local {
  color: lightgrey;
  text-align: right;
}

.msg-external {
  color: white;
  text-align: left;
}

.msg-time {
  font-size: smaller;
}

.msg-name {
  font-weight: bold;
}

.msg-content > * {
  margin: 0;
  word-wrap: break-word;
}

